
numpy<1.19.0,>=1.16.0
mesh-tensorflow==0.1.16
tensorflow==1.15.4
tensorflow-datasets==3.2.1
tokenizers==0.9.3
transformers==3.5.1

tpunicorn
google-auth==1.21.1
google-api-python-client

absl-py
ftfy
jsonlines
lm_dataformat
ortools
pytest
sacred
attrs>=18.1.0

opencv-python
Pillow
git+https://github.com/ytdl-org/youtube-dl.git
google-cloud-storage
oauth2client
